SECRET_KEY=django-insecure-w(#k=^4=$@1-baz-a0k&t6t5_2f_i-=a9-=6_jwzr-lzm9_m0r
BASE_URL=http://127.0.0.1:8000

# Database Configuration Flag (set to true for the one you want to use)
USE_LOCAL=true
USE_DEV=false
USE_STAGE=false
USE_PROD=false

# Local Database
L_USER=humbingo
L_HOST=localhost
L_PORT=5432
L_DB=store_db
L_PASS=Welcome@1

# Development Database
D_USER=humbingo
D_HOST=localhost
D_PORT=5432
D_DB=django_placeholder_dev
D_PASS=Welcome@1

# Stage Database
S_USER=humbingo
S_HOST=localhost
S_PORT=5432
S_DB=django_placeholder_stage
S_PASS=Welcome@1

# Production Database
P_USER=humbingo
P_HOST=localhost
P_PORT=5432
P_DB=django_placeholder_prod
P_PASS=Welcome@1

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.hostinger.com'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = 'noreply@humbingo.com'
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER
EMAIL_HOST_PASSWORD = 'zxcvbnmIn@511#@#$'



STATIC_URL=static/
STATICFILES_DIRS_PATH=.
STATIC_ROOT=.
